@media screen and (max-width: 765px) {
  .wrapper {
    max-width: 768px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    margin: 0 auto;
  }
  header nav {
    position: absolute; // скрываю обычную навигацию
    bottom: 99999999px;
  }
  header .burger-menu {
    position: static;
  }

  // ПОМЕНЯЛА ФОН В ВЕЛКОМЕ
  .welcome {
    background-image: url("../assets/Welcome_tablet.png");
  }
  // СЕКЦИЯ АБАУТ
  .about p {
    padding: 40px 20px;
  }
  .about .image-carusel {
    display: flex;
    justify-content: space-around;
    gap: 30px;
    align-items: center;
  }
  //здесь хочу показать стрелочки обратно
  .about .image-carusel .carret {
    display: contents;
    height: 30px;
  }
  .about .image-carusel .carret.left button {
    margin-top: 22px;
    margin-left: 60px;
    background-color: transparent;
    cursor: pointer;
  }
  .about .image-carusel .carret.right button {
    margin-top: 22px;
    margin-right: 60px;
    background-color: transparent;
    cursor: pointer;
  }

  .about .image-carusel .image img {
    margin-top: -18px;
    margin-left: -10px;
  }
  .about .image-carusel .image img:not(:first-of-type) {
    position: absolute; // скрываю пока лишние картинки
    bottom: 99999999px;
  }
  .about .button-carusel {
    margin-top: -15px;
    margin-left: 0px;
  }

  .about .button-carusel .button.four button,
  .about .button-carusel .button.five button {
    position: relative;
    top: -2px;
  }

  // СЕКЦИЯ ФАВОРИТС
  .favorites .all-card {
    display: flex;
    flex-direction: column;
    gap: -30px;
    flex-wrap: wrap;
  }
  .favorites .all-card .card:not(:first-of-type) {
    margin-top: 5px;
  }

  .favorites .all-card .card {
    width: 550px;
    height: 555px;
  }
  .favorites .button {
    margin-bottom: -4px;
  }
  .favorites img {
    margin-bottom: -4px;
  }
  //уменьшаю гап для радикнопок в фейворитс, чтобы те не уезжали вниз
  .favorites form label {
    padding-right: 15px;
    padding-left: 10px;
  }
  // СЕКЦИЯ КОФЕ-ШОП
  .coffee-shop {
    margin-top: -30px;
    padding: 20px;
  }

  .coffee-shop .all-coffee-card {
    flex-direction: column;
    align-items: center;
    justify-content: center;
  }
  .coffee-shop .coffee-shop-paragraph p:last-of-type {
    margin-left: -2px;
  }
  .coffee-shop .all-coffee-card .coffee-card {
    //margin: 10px;
    align-self: center;
  }
  .coffee-shop .all-coffee-card .coffee-card:first-of-type {
    margin-left: -0px;
    margin-top: 5px;
  }
  .coffee-shop .all-coffee-card .coffee-card:last-of-type {
    margin-left: 0px;
    margin-top: 2px;
  }

  .coffee-shop .all-coffee-card .coffee-card:last-of-type p:last-of-type {
    margin-left: -5px;
  }
  // СЕКЦИЯ КОНТАКТС
  .contacts {
    margin-top: 20px;
  }
  .contacts .address-info-image {
    flex-direction: column;
    gap: 50px;
  }
  .contacts #address-info-image-img img {
    max-width: 600px;
    height: auto;
    margin: 0;
  }
  // СЕКЦИЯ ДИДЖИТАЛ
  .library-card {
    margin-top: 1px;
  }
  .library-card .check-card {
    flex-direction: column;
    align-items: center;
  }
  .library-card .check-card .check-card-two {
    align-items: center;
  }
  .library-card .check-card .check-card-two p:nth-child(2) {
    width: auto;
    justify-self: center;
    text-align: center;
    margin: 5px 70px;
  }
  // ФУТЕР
  footer,
  footer .adress-block {
    display: flex;
    flex-direction: column;
  }
  footer .footer-two-list li:nth-child(2) {
    margin-left: -60px;
  }
  footer .footer-two-list {
    gap: 30px;
    flex-wrap: wrap;
  }
}
